{% extends 'base.html.twig' %}


{# ! WARNING !!! COPY FROM USER !!! WARNING ! #}
{# ! WARNING !!! COPY FROM USER !!! WARNING ! #}
{# ! WARNING !!! COPY FROM USER !!! WARNING ! #}
{# ! WARNING !!! COPY FROM USER !!! WARNING ! #}


{% block title %}Modification du profil{% endblock %}



    {% block body %}

	<div class="container mt-3" >

		<h1>Modification du profil</h1> 

        <h2>Prénom : {{user.firstName}} </h2></br>
        <h2>Nom : {{user.lastName}}</h2></br>


        {{ form_start (form) }}

            {{ form_row (form.email,{'label':false, 'attr':{'placeholder':"Entrer votre e-mail"} })   }}

            {{ form_row (form.picture,{'label':false, 'attr':{'placeholder':"Entrer une url (avatar)"} })   }}

            {{ form_row (form.introduction,{'label':false, 'attr':{'placeholder':"Entrer votre introduction"} })   }}

            {{ form_row (form.description,{'label':false, 'attr':{'placeholder':"Entrer votre description"} })   }}

            <button type="submit" class="btn btn-success">Modifier</button>

            <a class="nav-link" href="{{path('account_password')}}">Modifier mon mot de passe</a>

        {{ form_end (form) }}

        
    </div>


    {% endblock %}


