{% extends 'base.html.twig' %}

{# this form theme will be applied only to the form of this template #}

{% form_theme form with ['bootstrap_4_layout.html.twig', _self] %}


{% block title %}Insciption{% endblock %}



{% block body %}

	<div class="container mt-3" >

		<h1>Incription</h1>

        {{ form_start (form) }}

            {{ form_row (form.firstName,{'label':false, 'attr':{'placeholder':"Entrer votre prénom"} })   }}

            {{ form_row (form.lastName,{'label':false, 'attr':{'placeholder':"Entrer votre nom"} })   }}

            {{ form_row (form.email,{'label':false, 'attr':{'placeholder':"Entrer votre e-mail"} })   }}

            {{ form_row (form.picture,{'label':false, 'attr':{'placeholder':"Entrer une url (avatar)"} })   }}

            {{ form_row (form.hash,{'label':false, 'attr':{'placeholder':"Entrer votre mot de passe"} })  }}

            {{ form_row (form.confirm_hash,{'label':false, 'attr':{'placeholder':"Confirmer le mot de passe"} })  }}

            {{ form_row (form.introduction,{'label':false, 'attr':{'placeholder':"Entrer votre introduction"} })   }}

            {{ form_row (form.description,{'label':false, 'attr':{'placeholder':"Entrer votre description"} })   }}

            <button type="submit" class="btn btn-success">Incription</button>

        {{ form_end (form) }}

    </div>

{% endblock %}


{# IMAGE EN DUR IIIICCCCCIIIII #}
{# theme personaliser appeler en haut dans le _self #}
{# {% block _annonce_images_entry_row %}


<div class="row" id="{{id}}">

    <div class="col">
        {{form_row(form.url, {'label':false, 'attr':{'placeholder':"Entrer une image",} }    )}}
    </div>

    <div class="col">
        {{form_row(form.caption, {'label':false, 'attr':{'placeholder':"Entrer une légende",} }    )}}
    </div>

    <div class="col-2">
        <button type="button" class="btn btn-danger del_image"data-bloc="{{id}}"> X </button>
    </div>

</div>

{% endblock %} #}
