{% extends 'base.html.twig' %}


{% block title %}Mon compte{% endblock %}

    {% block body %}

	<div class="container mt-3" >

		<h1>Le compte de {{user.firstName}} {{user.lastName}} </h1>

        <div class="row">
            <div class="col-3">
                <img src="{{user.picture}}" style=""/>
            </div>

            {% if (user is same as (app.user)) %}
            
                <a href="{{path('account_profile')}}" class="btn btn-primary mt-3 mb-3">Modifier mon compte</a>
                <a href="{{path('account_password')}}" class="btn btn-primary mt-3 mb-3">Modifier le mot de passe</a>

            {% endif %} {# END if user is same as (app.user)  #}
            
            <div class="col-9">
                <span class="badge badge-primary">{{user.ads | length}} annonce(s)</span>
            </div>
        </div>

        <div class="row">
            {{user.description}}
        </div>

        <h2> Toute les annonces de {{user.firstName}} {{user.lastName}} </h2>
        
        <div class="row">

            {% if (user.ads | length > 0) %}

                {% for ad in user.ads  %}
                    <div class="col-4 mt-4">
                        <div class="card text-center">
                            <div class="card-header">
                                {{ad.rooms}} chambres {{ad.price}}€/nuit<br>
                                Pas encore noté
                            </div>
                            <div class="card-body">

                                {% for img in ad.imageUploads %}
                                    {% if loop.first %}
                                        <img src="{{img.url}}" style=" height:200px;display:block;width:100%"/>
                                    {% endif %}
                                {% endfor %}

                                <h5 class="card-title mt-2">{{ad.title}}</h5>
                                <p class="card-text">{{ad.introduction | striptags('<strong>') | raw}} </p>
                                    <a href="{{path('ads_show',{'slug':ad.slug}) }}" class="btn btn-primary">En savoir plus</a>
                                </div>
                        </div>
                    </div>
                {% endfor %} {# END for ad in ads #}

            {% else %}{# ELSE if (user.ads | length > 0) ELSE #}

                <div class="row">
                    <div class="alter alert-warning"> Il n'y a pas d'annonces </div>
                </div>

            {% endif %}{# END if (user.ads | length > 0) #}

             
        </div>





    </div> {# END conatiner mt3 #}


    {% endblock %}


